.taskDone {
    color: #afafaf;
    text-decoration: line-through;
}
.item {
    width: 100%;
    height: 40px;
    font-size: x-large;
    border-bottom: groove;
    display: flex;
    align-items: center;
}